[Config]
use_prod = True
use_mfa = False

[URI]
cert = https://api.cert.tastyworks.com
prod = https://api.tastyworks.com

[WSS]
cert = wss://api.cert.tastyworks.com
prod = wss://api.tastyworks.com

[accountnumber]
self_directed = 5WY23285

[tastytrade]
username = benfunny09
password = Tasty##20250821
use_prod = True

[tastytradesandbox]
username = yttdapi
password = 123
use_prod = False
