[Config]
use_mfa = False

[URI]
cert = https://api.cert.tastyworks.com
prod = https://api.tastyworks.com

[WSS]
cert = wss://api.cert.tastyworks.com
prod = wss://api.tastyworks.com

[tastytrade]
use_prod = true
# true is for production. false is for sandbox
username = benfunny09
password = Tasty##20250821

[accountnumber]
self_directed = 5WY23285

[tastytradesandbox]
username = yttdapi
password = IK<qwertyuiop


